body
{
	font-family: 'Josefin Slab', serif;
	background: no-repeat;
	background-image: url("../img/clPizza.jpg");
}

.welkom
{
	color:white;
	background-color:rgb(50, 50, 50);
	box-shadow: 0px 3px rgb(30, 30, 30);
	border-radius: 30px 30px 30px 30px;
    padding: 30px; 
	width: 900px;
    height: 75px;
	margin: auto;
	margin-top: 32px;
}

a.home
{
	text-decoration: none;
}

.navbar
{
	display: block;
	width: 500px;
	margin-bottom: 32px;
	margin: auto;
	padding-right: 70px;
}

ul.nav
{
	display: inline-block;
	list-style-type: none;
	margin: auto;	
	width: 100%;
	margin-bottom: 16px;
	margin-top: 16px;
	text-align: center;
	align-self: center;
}

li.a1
{
	display: inline-block;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(50, 50, 50);
	box-shadow: 0px 3px rgb(30, 30, 30);
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
}
li.a1:hover
{
	background-color:green;
	box-shadow: 0px 3px rgb(30, 80, 30);
}

a.itemNav1
{
	display: inline-block;
	padding: 8px;
	text-decoration: none;
	color: white;
}

a.itemNav2
{
	display: inline-block;
	padding: 8px;
	text-decoration: none;
	color: white;
}

a.itemNav2:hover
{
	color: black;
	
}

a.itemNav3
{
	display: inline-block;
	padding: 8px;
	text-decoration: none;
	color: white;
}

li.a2
{
	display: inline-block;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(50, 50, 50);
	box-shadow: 0px 3px rgb(30, 30, 30);
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
}
li.a2:hover
{
	background-color:white;
	box-shadow: 0px 3px rgb(80, 80, 80);
}


li.a3
{
	display: inline-block;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(50, 50, 50);
	box-shadow: 0px 3px rgb(30, 30, 30);
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
}
li.a3:hover
{
	background-color:rgb(236, 19, 19);
	box-shadow: 0px 3px rgb(80, 30, 30);
	color: black;
}


.hq
{
	font-style: italic;
	text-align: center;
	font-size: 75%;
}

.hq2
{
	font-style: italic;
	text-align: center;
	font-size: 120%;
}

.pizza
{
	font-style: italic;
	font-size: 150%;
}

.hr1
{
  height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.hr1:before 
{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.hr2
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header
{
	text-align: center;
	font-size: 150%;
}

.d_01
{
	font-size: 150%;
	padding: 100px;
	padding-top: 8px;
	margin: auto;
	width: 500px;
	height: 760px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
}

.bestelknopIndex
{
	text-decoration: none;
	text-align: center;
	padding-left: auto;
	padding-right: auto;
	padding-top: 16px;
	padding-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	display: block;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	color: black;
	font-family: 'Josefin Slab', serif;
	font-size: 300%;
	width: 500px;
	height: 60px;
	color: black;
	border-width: 1px;
	border-color: rgb(50, 50, 50);
	font-family: 'Josefin Slab', serif;

}

.bestelknopIndex:hover
{
	color: white;
	background-color: rgb(50, 50, 50);
}


.euro
{
    margin-left: 320px;
    text-align: right;
}

.tabel
{
	width: 420px;
	margin: auto;
	padding: 1px;
	
}

a.plinks
{
	text-decoration: none;
	color: white;
}

.side1
{
	color:white;
	background-color:rgb(50, 50, 50);
	box-shadow: 0px 3px rgb(30, 30, 30);
	border-radius: 10px 10px 10px 10px;
	width: 475px;
	padding: 12px;
	margin: auto;
}

.text
{
	text-align: center;
}

.formtextO
{
	font-size: 85%;
	float: left;
}
.formfieldO
{
	float: right;
}

.formtextareaO
{
	margin-bottom: 32px;
	float:right;
}

.submitO
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	color: black;
	border-width: 1px;
	border-color: rgb(50, 50, 50);
	font-family: 'Josefin Slab', serif;
	font-size: 100%;
	width: 150px;
	height: 40px;
}

.submitO:hover
{
	background-color: rgb(50,50,50);
	color: white;
}

.pizzaMand
{
	text-decoration: none;

}

.alvdiv
{
	margin: auto;
	width: 200px;
}

.alv
{
	margin: auto;
	width: 100%;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	text-align: center;
	margin: auto;
	text-decoration: none;
	color: black;
}


.tel
{
	margin: auto;
}